<div class="main-container">
    <div class="nav">
        <div class="logo-container">
            <img data-src="https://www.yourgreenpal.com/assets/homepage/affordable-lawn-mowing-businesses-6024ad527742da98fdb19f84f4e656d6d36fbbd65ab69870a88f929268729a02.svg" 
                class="logo" 
                alt="Landscaping services near me"
                title="Lawn Care services near me" 
                src="https://www.yourgreenpal.com/assets/homepage/affordable-lawn-mowing-businesses-6024ad527742da98fdb19f84f4e656d6d36fbbd65ab69870a88f929268729a02.svg">
            <p class="logo-text">Connecting you with the perfect lawn pro</p>    
        </div>
        <div class="login-container">
            <a>LOGIN</a>
        </div>
    </div>
</div>